body{
    background-color: white;
    background-position: center;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.9em;
}

h4{
    font-size: 1.5em;
}

/* Nav barre*/

.bg-body-tertiary {
    background-color: rgba(33,37,41,255);
}

.navbar-brand{
    padding-left: 15vw;
    padding-right: 45vw;

}


/* Fond  */

.fond{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
      }


/* Presentation  */

.Presentation{
    display: flex;
    margin-top: 40px;
    }
.Presentation2{
    text-align: center;
    padding: 15px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 10%;
    }
.Presentation img{
      width: 50%;
    }

.bouton{
list-style: none;
text-decoration: none;
text-align: center;
color: white;
background-color: rgba(13,110,253,255);
border-radius: 5px;
}

/* Annonce  */

.annonce{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(108,117,125,255);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Carte de jeu  */

/* Suite */

.suite{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Card */


.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}


.cards .card{
    justify-content: center;
    width: 30%;
    min-width: 150px;
}


.cards .card img{
    width: 100%;
    min-width: 120px;
}


.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }


.cards .card .card-body p{
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: justify;
}




/* Avis  */


/* Sitation  */

.sitation{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin: 40px;
    padding: 40px;
    background-color: rgba(248,249,250,255);
    }

.sitation2{
    display: flex;
    justify-content: center;
    text-align: center;

}

.sitation img{
    width: 2vw;
    height: auto;
    margin-right: 2vw;

}

/* Footer  */


.deep-end{
    text-align: center;
    color: aliceblue;
    font-size:medium;
    text-decoration: none;
    background-color: rgba(33,37,41,255);
    padding: 20px;
}
